<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".list.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".banner.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".banner.DisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".banner.TransformerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".banner.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.issues.Issues10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.issues.Issues12Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.issues.Issues13Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>